{% extends "base.html" %}

{% block content %}
<div class="flex items-center justify-center" style="min-height: calc(100vh - 120px);">
    {% if current_user.home_page_image %}
    <img src="{{ current_user.home_page_image }}" alt="Home" class="max-w-full max-h-full m-8">
    {% else %}
    <div class="text-center">
        <pre class="text-secondary-text text-xxs inline-block text-left" style="line-height: 1.2; user-select: none;">
  ______       _______       ______      __       __       ______
 /      \     |       \     |      \    |  \     /  \     /      \
|  $$$$$$\    | $$$$$$$\     \$$$$$$    | $$\   /  $$    |  $$$$$$\
| $$__| $$    | $$__| $$      | $$      | $$$\ /  $$$    | $$__| $$
| $$    $$    | $$    $$      | $$      | $$$$\  $$$$    | $$    $$
| $$$$$$$$    | $$$$$$$\      | $$      | $$\$$ $$ $$    | $$$$$$$$
| $$  | $$ __ | $$  | $$ __  _| $$_  __ | $$ \$$$| $$ __ | $$  | $$ __
| $$  | $$|  \| $$  | $$|  \|   $$ \|  \| $$  \$ | $$|  \| $$  | $$|  \
 \$$   \$$ \$$ \$$   \$$ \$$ \$$$$$$ \$$ \$$      \$$ \$$ \$$   \$$ \$$
</pre>
    </div>
    {% endif %}
</div>
{% endblock %}
